.header {
  height: 10%;
  background-color: grey;
  width: 100%;
}
.box1 {
  background-color: blue;
  height:80%;
  width: 20%;
  position: absolute;

}
.box2 {
  background-color: red;
  height:80%;
  width: 60%;
  position: absolute;
  margin-left: 20%;
}
.box3 {
  background-color: yellow;
  height:80%;
  margin-left: 80%;
  width: 20%;
  position: absolute;
}
.footer {
  height: 10%;
  background-color: green;
  width: 100%;
  bottom: 0;
  position: absolute;

}
