<h3>{{id}}</h3>
<form action="/addReview" method="POST">
  <label>Title</label><br />
  <input name="title" type="text" class="form-control" placeholder="Title" /><br  />
  <label>Review</label><br />
  <textarea name="review" type="text" placeholder="Place review here..."rows="8" cols="100"></textarea>
  <br />
  <input type='radio' name='stars' value='5'>* * * * *</input><br />
  <input type='radio' name='stars' value='4'>* * * *</input><br />
  <input type='radio' name='stars' value='3'>* * * </input><br />
  <input type='radio' name='stars' value='2'>* * </input><br />
  <input type='radio' name='stars' value='1'>* </input><br />
  <input type="hidden" name="id" value="{{id}}"></input>
  <button type="submit" value="submit">Submit Review</button>
</form>
<h2>Hello, {{name}}!</h2>
