
<form action="/restaurant/submit_new" method="POST">
  <label>Name of Restaurant: </label><br />
  <input name="name" type="text" class="form-control" placeholder="Name" /><br  />
  <label>Address: </label><br />
  <input name="address" type="text" class="form-control" placeholder="Address" /><br  />
  <label>Category: </label><br />
  <input name="category" type="text" class="form-control" placeholder="Category" /><br  />
  <button type="submit">Submit New Restaurant</button>
</form>
<h2>Hello, {{name}}!</h2>
