


<form action="/search?search" method="GET">
    <label >Find a restaurant</label>
    <input type="text" class="form-control" placeholder="Burger" />
  <button type="submit">Submit</button>
</form>
