


<form action="/search" method="GET">
    <label >Find a restaurant</label>
    <input name="searchTerm" type="text" class="form-control" placeholder="Burger" />
  <button type="submit" value="submit">Submit</button>
</form>
<br />
<form action="/restaurant/new" method="GET">
    <label ></label>

  <button type="submit" value="submit">Add a Restaurant</button>
</form>
<form action="/logout" method="post">
    <label ></label>

  <button type="submit" value="submit">Logout</button>
</form>
<form action="/login" method="get">
    <label ></label>

  <button type="submit" value="submit">Login</button>
</form>
{{#if name}}
  Hello {{name}}
{{/if}}
