


<form action="/search" method="GET">
    <label >Find a restaurant</label>
    <input name="searchTerm" type="text" class="form-control" placeholder="Burger" />
  <button type="submit" value="submit">Submit</button>
</form>
<br />
<form action="/restaurant/new" method="GET">
    <label ></label>

  <button type="submit" value="submit">Add a Restaurant</button>
</form>
