<form action="/login" method="POST">
  <label>Username:  </label>
  <input name="userName" type="text" class="form-control" placeholder="Username" /><br  />
  <label>Password </label>
  <input name="password" type="password" class="form-control" placeholder="password" /><br  />
  <button type="submit">Login</button>
</form>
{{#if err}}
  <h2>{{err}}. Please try again.</h2>
{{/if}}
