<form action="/newUser" method="POST">
  <label>Username:  </label>
  <input name="userName" type="text" class="form-control" placeholder="Username" /><br  />
  <label>Password </label>
  <input name="password" type="password" class="form-control" placeholder="password" /><br  />
  <label>First Name </label>
  <input name="name" type="text" class="form-control" placeholder="Name" /><br  />
  <button type="submit">Create Account</button>
</form>
{{#if err}}
  <h2>{{err}}. Please Enter a new user name.</h2>
{{/if}}
